<br>
<form (ngSubmit)="onSubmit()">
  <!-- Export Button  -->
  <div class="container">
    <div class="row py-5 justify-content-center">
      <div class="col-md-8">
        <div class="col-md-12 table-responsive" #table>
          <div style="padding-bottom: 10px;padding-top: 10px;">
            <div class="row">
              <div class="col-sm-12">
                <!--              <button (click)="exportToExcel()" class="btn btn-success">Export To Excel</button>-->
              </div>
            </div>
          </div>

          <div class="card-body">
            <div class="row">
              <div class="col-md-2">Filter by:</div>
              <div class="col-md-4">
                <input [(ngModel)]='numeStudent' name="numeStud" type="text"/>
                <input [(ngModel)]='prenumeStudent' name="prenumeStud" type="text"/>
                <input [(ngModel)]='numeDisciplina' name="numeDis" type="text"/>
                <button type="submit">Submit</button>
              </div>
            </div>

            <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px">
              <div fxFlex="60">
                <div class="mat-elevation-z8">
                  <table class="table">
                    <thead fxLayoutAlign="space-between center" fxLayoutGap="20px">
                    <tr>
                      <th>Tip Nota</th>
                      <th>Data</th>
                      <th>Valoare nota</th>
                    </tr>
                    </thead>
                    <tbody fxLayoutAlign="space-between center" fxLayoutGap="20px">
                    <tr *ngFor='let product of notePerDiscs'>
                      <td>{{ product.tipNota }}</td>
                      <td>{{ product.data }}</td>
                      <td>{{ product.valoareNota }}</td>
                    </tr>
                    </tbody>
                    <!--                    <mat-paginator [pageSizeOptions]="[5, 10, 20]"></mat-paginator>-->
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
